<mjml>
  <mj-head>
    <mj-attributes>
      <mj-section background-color="#ffffff"></mj-section>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>

        <mj-text align="center" font-size="50px" color="#456078">SailBook</mj-text>
        <mj-divider border-color="#456078"></mj-divider>

      </mj-column>
    </mj-section>
    <mj-section padding-bottom="20px" padding-top="10px">
      <mj-column>

        <mj-text align="center" padding="10px 25px" font-size="20px" color="#512d0b" font-family="RaleWay"><strong>We have listed your textbook!</strong></mj-text>

        <mj-text align="center" font-size="25px" font-family="Raleway" font-weight="bold" line-height="35px" padding-top="20px">You can share your listing using this link: <br/></mj-text>

        <mj-text font-size="25px" align="center" color="#C143CC" text-decoration="underline">ReferalCode!</mj-text>

        <mj-text align="center" font-size="25px" font-family="Raleway" font-weight="bold" line-height="35px" padding-top="20px">You delete your listing here:</mj-text>

        <mj-button background-color="red" href="https://mjml.io" font-family="Roboto" padding="20px 0 0 0" font-weight="bold" font-size="16px">Delete your listing</mj-button>

        <mj-text align="center" color="#000000" font-size="14px" font-family="Arial, sans-serif" padding-top="40px">Best, <br /> The SailBook Team</mj-text>

      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
